nav {
    // position: absolute;
    float: right;
    padding: 2% 5%;
    ul {
        li {
            list-style: none;
            float: left;
            a {
                padding:1rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: Barlow;
                font-size: 0.82rem;
                letter-spacing: 1.2px;
                color: white;
                &:hover {
                    color: #86e0f9;
                }
            }
        }
    }
}