
@import "./normalize";

$fontsz-header: 138;
$fontsz-heading2: 80;
$fontsz-heading3: 42;
$fontsz-heading4: 32;
$fontsz-nav: 20;
$fontsz-button: 20;
$fontsz-body: 20;
$fontfm-barlow: 'Barlow', sans-serif;
$fontfm-lato: 'Lato', sans-serif;

@mixin font-size-desktop($size-value) {
    font-size: ($size-value/20) * 1rem;
}

@mixin font-size-mobile($size-value) {
    // reducing font to half the desktop font
    font-size: (($size-value/1.5)/20) * 1rem;
}
  
// styling home page (mobile first)
.home .hwrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}
.home h1 {
    font-family: $fontfm-barlow;
    @include font-size-mobile($fontsz-heading2); // change for dsktp
    color: white;
    text-transform: uppercase;
    margin: 0;
}
.home header {
    background-image: url("./../assets/header-image.jpg");
}
.home .nav {
    display: none;
}
.home main {
    .section1 {
        background-color: #0c1423;

    }
    .section1>.hwrapper{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       padding: 20% 10%;
       h2 {
        @include font-size-mobile($fontsz-heading3); // change for dsktp
        color: white;
        text-transform: uppercase;
        margin-top: 0;
        text-align: center;
       } 
       p {
        @include font-size-mobile($fontsz-body); // change for dsktp 
        color: white;
        text-align: center;
       }
    }
}
.home button {
    background-color: #86e0f9;
    text-transform: uppercase;
    @include font-size-mobile($fontsz-button);
    text-align: center;
    letter-spacing: 1px;
    color: black;
    border: 2px solid #86e0f9;
    padding: 2% 3%;
    margin: 1rem;
}

// styling blog post (mobile first)
.blog h1 {
    font-family: $fontfm-barlow;
    @include font-size-mobile($fontsz-heading2); // change for dsktp
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 23vh 45vw; // change for dsktop
   
}
.blog header {
    background-image: url("./../assets/blog-header.jpg");
    background-position: 70% 20%;
    height: 80vh;
}
nav {
    display: none;
}
.blog main {
    background-color: #0c1423;
    display: flex;
    flex-direction: column; //change for desktop
    justify-content: space-between;
    align-items: left;
}

.wrap-blog { 
    width: 90%;
    height: 100%;
    margin: -1rem auto;
       
    
    .wrap-article-comment {
        width: 90%;
        margin: 0; //change for desktop
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left; // change for desktop

        .article-img {
            box-shadow: -0.9rem 0.9rem #86e0f9;
            position: relative;
            margin-left: 2%;
            width: 110%;
        }
        

        article {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: left; // change for desktop
            border: 2px solid #86e0f9;
            border-right: none;
            border-top: none;
            padding: 1rem;
            
            h3 {
                font-family: $fontfm-barlow;
                @include font-size-mobile($fontsz-heading3); // change for dsktp
                color: white;
                text-transform: uppercase;
                margin-top: 1rem; // change for desktop
            }
    
            h4, p {
                font-family: $fontfm-lato;
                @include font-size-mobile($fontsz-body); // change for dsktp
                line-height: 1rem; // change for desktop
                color: white;
    
            }
            
            
            
            
        }
       
    }
    // comment-box nested here
    // is styled outside

}
.comment-box {
    h2 {
        @include font-size-mobile($fontsz-heading3); // change for dsktp
        color: white;

    }
    .comment {
        padding: 0 0 1rem 0;
        display: flex;
        .avatar {
            display: none; // change for desktop
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            .cmt-date,
            .cmt-text {
                @include font-size-mobile($fontsz-body); // change for dsktp
                color: white;
                line-height: 1rem; // change for desktop
                // order: 1;
                
            }
            .cmt-date {
                padding-top: 10px;
                border-top: 1px solid #86e0f9; // change for desktop
            }
            
        }
       
    }
    form {
        // margin: 0 auto;
        fieldset {
            border: 0 none;
            input[type=text],
            input[type=email],
            textarea {
                width: 100%;
                background-color: #0c1423;
                margin: 2%;
                border: 2px solid #86e0f9;
                color: white;
                @include font-size-mobile($fontsz-body);
                font-family: $fontfm-lato;
                line-height: normal;
                padding: 3%;

                &:focus {
                    // border: 0;
                    outline-style: dotted;
                    outline-color: 86e0f9;
                }

                &::placeholder {
                    color: white;
                    @include font-size-mobile($fontsz-body); //change for desktop
                    font-family: $fontfm-lato;
                }
                
            }
            input[type=text],
            input[type=email] {
                border-top: 0;
                border-left: 0;
                border-right: 0;

            }
            button {
                width: 100%;
                margin: 2%;
                background-color: #0f614e;
                text-transform: uppercase;
                @include font-size-mobile($fontsz-button);
                text-align: center;
                letter-spacing: 1px;
                color: white;
                border: 2px solid #0f614e;

            }  
            
        }
    }
}

.blog aside {
    // width: 90%; //change for desktop
    margin:  5% auto;
    background-color: #0f614e;
    .aside-image {
        display: none; // change for desktop
    }
    h2 {
        margin: 5%;
        // padding: 0.5rem; // change for desktop
        @include font-size-mobile($fontsz-heading4); // change for dsktp
        color: white;
        text-transform: uppercase;
        text-align: left;

    }
    p, 
    ul li a {
        @include font-size-mobile($fontsz-body); // change for dsktp
        color: white;
        line-height: normal;
    }
    ul li {
        list-style-type: disc;
    }
    ul,
    p {
        margin: 0.5rem;
        margin-left: 5%;
        padding: 1rem;
    }
}

.blog footer {
    
    background-color: #86e0f9;
    p {
        margin: 0;
        padding: 5%;
        text-align: center;
        @include font-size-mobile($fontsz-body); // change for dsktp
        color: black;

        .fa-copyright {
            color: black;
            @include font-size-mobile($fontsz-body); // change for dsktp

        }

    }
}



