
@import "./normalize";

$fontsz-header: 138;
$fontsz-heading2: 80;
$fontsz-heading3: 42;
$fontsz-heading4: 32;
$fontsz-nav: 20;
$fontsz-button: 20;
$fontsz-body: 20;
$fontfm-barlow: 'Barlow', sans-serif;
$fontfm-lato: 'Lato', sans-serif;

@mixin font-size-desktop($size-value) {
    font-size: ($size-value/20) * 1rem;
}

@mixin font-size-mobile($size-value) {
    // reducing font to half the desktop font
    font-size: (($size-value/1.5)/20) * 1rem;
}
  
// styling home page (mobile first)
//TODO........................

// styling blog post (mobile first)
.blog h1 {
    font-family: $fontfm-barlow;
    @include font-size-mobile($fontsz-heading2); // change for dsktp
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 23vh 45vw; // change for dsktop
   
}
.blog header {
    background-image: url("./../assets/blog-header.jpg");
    background-position: 70% 20%;
    height: 80vh;
}
nav {
    display: none;
}
main {
    background-color: #0c1423;
    display: flex;
    flex-direction: column; //change for desktop
    justify-content: space-between;
    align-items: left;
}

.wrap-blog { 
    width: 90%;
    height: 100%;
    margin: -1rem auto;
       
    .article-img {
        box-shadow: -0.5rem 0.5rem #86e0f9;
        position: relative;
        left: 2.75%;
    }
    .wrap-article-comment {
        width: 90%;
        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left; // change for desktop
            border: 2px solid #86e0f9;
            border-right: none;
            padding: 1rem;
            
            h3 {
                font-family: $fontfm-barlow;
                @include font-size-mobile($fontsz-heading3); // change for dsktp
                color: white;
                text-transform: uppercase;
                margin-top: 1rem; // change for desktop
            }
    
            h4, p {
                font-family: $fontfm-lato;
                @include font-size-mobile($fontsz-body); // change for dsktp
                line-height: 1.5rem;
                color: white;
    
            }
    
            
            
        }
    }
    

}



