
@import "./normalize";


$fontsz-header: 138;
$fontsz-heading2: 80;
$fontsz-heading3: 42;
$fontsz-heading4: 32;
$fontsz-nav: 20;
$fontsz-button: 20;
$fontsz-body: 20;
$fontfm-barlow: 'Barlow', sans-serif;
$fontfm-lato: 'Lato', sans-serif;

@mixin font-size-desktop($size-value) {
    font-size: (($size-value/1.2)/20) * 1rem;
}

@mixin font-size-mobile($size-value) {
    // reducing font to half the desktop font
    font-size: (($size-value/1.5)/20) * 1rem;
}
  
// styling home page (mobile first)
.home .hwrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}
.home h1 {
    font-family: $fontfm-barlow;
    @include font-size-mobile($fontsz-heading2); // change for dsktp
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-left: 15%;
    padding-top: 20%;
    width: 50vw;
}
.home header {
    // background-image: url("./../assets/header-image.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./../assets/header-image.jpg");
    background-size: cover;
    height: 65vh;
    position: relative;
 
    .header-image {
        width: 60%;
        position: absolute;
        right: 0;
        bottom: -2rem;
    }
}
.home .nav {
    display: none;
}
.home main {
    .section1 {
        background-color: #0c1423;

    }
    .section1>.hwrapper{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       padding: 20% 5%;
       h2 {
        @include font-size-mobile($fontsz-heading3); // change for dsktp
        color: white;
        text-transform: uppercase;
        margin-top: 0;
        text-align: center;
       } 
       p {
        @include font-size-mobile($fontsz-body); // change for dsktp 
        color: white;
        text-align: center;
       }
    }
}
.home button {
    background-color: #86e0f9;
    
    border: 2px solid #86e0f9;
    padding: 2% 3%;
    margin: 1rem;
    a {
        text-transform: uppercase;
        @include font-size-mobile($fontsz-button);
        text-align: center;
        letter-spacing: 1px;
        color: black;
    }
}

.section2 {
    background-color: #0f614e;
    display: grid;
    grid-template-rows: 1fr 1fr; //change for desktop
    grid-gap: 0.5rem; // change for desktop
    .left-image {
        display: none;
    }
   
    .more-info {
        padding: 5% 5%;
        
        h2 {
            font-family: $fontfm-barlow;
            @include font-size-mobile($fontsz-heading3); // change for dsktp
            color: white;
            text-transform: uppercase;
            margin-top: 1rem; // change for desktop
        }
        p {
            @include font-size-mobile($fontsz-body); // change for dsktp 
            color: white;
        } 
        button {
            background-color: #0c1423;
            
            margin: 0;
            border: 2px solid #0c1423;
            a {
                color: white;
            }
        }  
        .reading-area {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
        }
    }
    .section21 {
        margin: 0 auto;
        width: 85%;
        text-align: left;
    }
    .section22 {
        margin: 0 auto;
        width: 85%;
        text-align: right;
        
    }   
   
}

.section3 {
    background-color: #0c1423;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; // change for desktop
    grid-gap: 0.2rem;
    .links {
        display: flex;
        flex-direction: row;
        align-items: top;
        a {
            text-decoration: none;
            @include font-size-mobile($fontsz-heading4);
            text-transform: uppercase;
            font-family: $fontfm-barlow;
            color: white;
        }
        .links-icon {
            background-color:#86e0f9;
            height:fit-content;
            padding: 2%;
            margin-top: 9%;
            border-radius: 50%;
            
            i {
                color: black;
                padding: 0 1% 0 1%;
                // padding-top: 10%;
                @include font-size-mobile($fontsz-heading4);
    
            }
        }
        .extrapad {
            padding: 2% 2.5%;

        }
        
        
        .links-text {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: flex-start;
            padding: 3%;
            
            p {
                @include font-size-mobile($fontsz-body);
                font-family: $fontfm-lato;
                color: white;
                flex-wrap: wrap;
            }
        }
        
    }
    
}

.banner-image {     // change for desktop
    display: none;
}

.section4 {
    background-color: #0c1423;
    
    .sec4-container {
        
        display: grid;
        grid-template-rows: 1fr 1fr; // change for desktop
        padding: 5%;
    }
    .profile-img {
        margin: 0 auto;
        padding: 5%;
        img {
            box-shadow: 0.9rem 0.9rem #86e0f9;
        }
    }

    h2 {
        font-family: $fontfm-barlow;
        @include font-size-mobile($fontsz-heading3); // change for dsktp
        color: white;
        text-transform: uppercase;
        margin-top: 1rem; // change for desktop
        text-align: center;
    }
    p {
        @include font-size-mobile($fontsz-body); // change for dsktp 
        color: white;
        text-align: center; // change for desktop
    } 
    button {
        background-color: #86e0f9;
        color: black;
        margin: 0;
        border: 2px solid #86e0f9;

    } 
    .reading-area {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center; // change for desktop
        padding: 5%;
    }
}

.section5 {
    background-color: #0f614e;
    padding: 2rem;
    .gallery {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr; // change for desktop
        grid-gap: 2rem;
    }
}

// styling blog post (mobile first)
.blog h1 {
    font-family: $fontfm-barlow;
    @include font-size-mobile($fontsz-heading2); // change for dsktp
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 23vh 45vw; // change for dsktop
   
}
.blog header {
    background-image: url("./../assets/blog-header.jpg");
    background-size: cover;
    background-position: 70% 20%;
    height: 80vh;
    
      
}

.blog main {
    background-color: #0c1423;
    display: flex;
    flex-direction: column; //change for desktop
    justify-content: space-between;
    align-items: left;
}

.wrap-blog { 
    width: 90%;
    height: 100%;
    margin: -1rem auto;
       
    
    .wrap-article-comment {
        width: 90%;
        margin: 0; //change for desktop
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left; // change for desktop

        article {
       
            padding: 1rem;
            .back-border {
                border: 2px solid #86e0f9;
                border-right: none;
                border-top: none;
            }
            .article-img {
            background-color: #86e0f9;
            width: 110%;
            }
            .article-img img {
                margin-top: -1.5rem;
                position: relative;
                top: -1rem;
                right: -1rem;
            }
            .article-reading {
                padding: 3%;
            }
            h3 {
                font-family: $fontfm-barlow;
                @include font-size-mobile($fontsz-heading3); // change for dsktp
                color: white;
                text-transform: uppercase;
                margin-top: 1rem; // change for desktop
            }
    
            h4, p {
                font-family: $fontfm-lato;
                @include font-size-mobile($fontsz-body); // change for dsktp
                line-height: 1rem; // change for desktop
                color: white;
    
            }
            
            
            
            
        }
       
    }
    // comment-box nested here
    // is styled outside

}
.comment-box {
    width: 85%;
    margin:0 auto;
    h2 {
        @include font-size-mobile($fontsz-heading3); // change for dsktp
        color: white;

    }
    .comment {
        padding: 0 0 1rem 0;
        display: flex;
        .avatar {
            display: none; // change for desktop
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            .cmt-date,
            .cmt-text {
                @include font-size-mobile($fontsz-body); // change for dsktp
                color: white;
                line-height: 1rem; // change for desktop
                // order: 1;
                
            }
            .cmt-date {
                padding-top: 10px;
                border-top: 1px solid #86e0f9; // change for desktop
            }
            
        }
       
    }
    form {
        // margin: 0 auto;
        fieldset {
            border: 0 none;
            input[type=text],
            input[type=email],
            textarea {
                width: 100%;
                background-color: #0c1423;
                margin: 2%;
                border: 2px solid #86e0f9;
                color: white;
                @include font-size-mobile($fontsz-body);
                font-family: $fontfm-lato;
                line-height: normal;
                padding: 3%;

                &:focus {
                    // border: 0;
                    outline-style: dotted;
                    outline-color: 86e0f9;
                }

                &::placeholder {
                    color: white;
                    @include font-size-mobile($fontsz-body); //change for desktop
                    font-family: $fontfm-lato;
                }
                
            }
            input[type=text],
            input[type=email] {
                border-top: 0;
                border-left: 0;
                border-right: 0;

            }
            button {
                width: 100%;
                margin: 2%;
                background-color: #0f614e;
                text-transform: uppercase;
                @include font-size-mobile($fontsz-button);
                text-align: center;
                letter-spacing: 1px;
                color: white;
                border: 2px solid #0f614e;

            }  
            
        }
    }
}

.blog aside {
    // width: 90%; //change for desktop
    margin:  5% auto;
    .for-background {
        background-color: #0f614e;
    }
    .aside-image {
        display: none; // change for desktop
    }
    h2 {
        margin: 0%;
        padding: 1rem; // change for desktop
        @include font-size-mobile($fontsz-heading4); // change for dsktp
        color: white;
        text-transform: uppercase;
        text-align: left;

    }
    p, 
    ul li a {
        @include font-size-mobile($fontsz-body); // change for dsktp
        color: white;
        line-height: normal;
    }
    ul li {
        list-style-type: disc;
        color: white;
        margin-left: 1rem;
    }
    ul,
    p {
        
        padding: 1rem;
    }
}

// styling contact page MOBILE view

.contact header {
    background-image: url("./../assets/contact-header.jpg");
    background-size: cover;
    height: 50vh;
    h1 {
        font-family: $fontfm-barlow;
        @include font-size-mobile($fontsz-heading2); // change for dsktp
        color: white;
        text-transform: uppercase;
        margin: 0;
        padding: 14vh 32vw; // change for dsktop
    }
}

.contact main {
    background-color: #0c1423;
    .cwrapper {
        
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 2fr;
        .addresses {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            padding-top: 10%;
        }
        .social-network-icons {
            
            i {
                color: white;
                @include font-size-mobile($fontsz-body);
            }
        }
        .email-address {
            color: white;
            font-family: $fontfm-lato;
            text-transform: uppercase;
            font-weight: bold;
            @include font-size-mobile($fontsz-body);
            text-align: left; // change for desktop
        }
        p {
            color: white;
            font-family: $fontfm-lato;
            @include font-size-mobile($fontsz-body);
            text-align: center; // change for desktop
            line-height: 1.5rem;
            span {
                display: block;
            }
        }
    }
    .form-wrapper {
        margin-left: 5%;
        width: 90%;
    }
    form {
        background-color: #0f614e;
        
        fieldset {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border: 0 none;
            input[type=text],
            input[type=email],
            textarea {
                width: 100%;
                background-color: #0f614e;
                margin: 2%;
                border: 2px solid #86e0f9;
                color: white;
                @include font-size-mobile($fontsz-body);
                font-family: $fontfm-lato;
                line-height: normal;
                padding: 3%;
        
                &:focus {
                    // border: 0;
                    outline-style: dotted;
                    outline-color: 86e0f9;
                }
        
                &::placeholder {
                    color: white;
                    @include font-size-mobile($fontsz-body); //change for desktop
                    font-family: $fontfm-lato;
                }
                
            }
            input[type=text],
            input[type=email] {
                border-top: 0;
                border-left: 0;
                border-right: 0;
        
            }
            button {
                width: 100%;
                margin: 2%;
                background-color: black;
                text-transform: uppercase;
                @include font-size-mobile($fontsz-button);
                text-align: center;
                letter-spacing: 1px;
                color: white;
                border: 2px solid black;
        
            }  
            
        }  
    }            
}



footer {
    
    background-color: #86e0f9;
    p {
        margin: 0;
        padding: 1% 5% 1% 5%;
        text-align: center;
        @include font-size-mobile($fontsz-body); // change for dsktp
        color: black;

        .fa-copyright {
            color: black;
            @include font-size-mobile($fontsz-body); // change for dsktp

        }

    }
}


@import "./nav";

// styling home page for DESKTOP


@media (min-width: 500px) {
    
    .home h1 {
        @include font-size-desktop($fontsz-header); // change for dsktp
        padding: 12vh 12vw 29vw 19vw;
        width: 30vw;

    }
    .home header {
        height: 80vh;
        .header-image {
            width: 50%;
            height: 50%;
            bottom: 4.5rem;
        }
    }
    .home .nav {
        display: block;
    }
    .home main {
        .section1>.hwrapper{
           h2 {
            @include font-size-desktop($fontsz-heading3); // change for dsktp
           } 
           p {
            @include font-size-desktop($fontsz-body); // change for dsktp 
           }
        }
    }
    .home button {
        @include font-size-desktop($fontsz-button); // change for desktop
    }
    
    .section2 {
        grid-template-columns: 1fr 1fr; //change for desktop
        grid-gap: 5rem; // change for desktop
        .left-image {
            display: block;
        }
        .left-image img {
            box-shadow: 1.9rem 1.9rem #86e0f9;
            // change for desktop
            position: relative;
            top: -1.9rem;    
        }
        .more-info {
            h2 {
                @include font-size-desktop($fontsz-heading3); // change for dsktp
                margin-top: 1rem; // change for desktop
            }
            p {
                @include font-size-desktop($fontsz-body); // change for dsktp 
            } 
        }
        .right-image img {
            box-shadow: -1.9rem 1.9rem #86e0f9;
            // change for desktop
           
        }
    }
    
    .section3 {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr; // change for desktop
        grid-gap: 0.2rem;
        padding-top: 10%;
        padding-bottom: 10%;
        .links {
            
            i {
                @include font-size-desktop($fontsz-heading4);

            }
            .links-text {
                h3 {
                    @include font-size-desktop($fontsz-heading4);
                }
                p {
                    @include font-size-desktop($fontsz-body);
                }
            }
        }
    }
    
    .banner-image {     // change for desktop
        display: block;
    }
    
    .section4 {
        .sec4-container {
            display: grid;
            grid-template-rows: none;
            grid-template-columns: 1fr 1fr; // change for desktop
            padding: 5%;
        }
        .profile-img {
            margin: 0 auto;
            padding: 5%;
            img {
                box-shadow: 0.9rem 0.9rem #86e0f9;
            }
        }
    
        h2 {
            @include font-size-desktop($fontsz-heading3); // change for dsktp
            margin-top: 1rem; // change for desktop
            text-align: left;
        }
        p {
            @include font-size-desktop($fontsz-body); // change for dsktp 
            text-align: left; // change for desktop
        } 
        .reading-area {
            align-items: left; // change for desktop
        }
    }
    
    .section5 {
        background-color: #0f614e;
        padding: 2rem;
        .gallery {
            display: grid;
            grid-template-rows: none;
            grid-template-columns: 1fr 1fr 1fr; // change for desktop
            grid-gap: 2rem;
        }
    }
}


// styling blog post DESKTOP
@media (min-width: 500px) {
    .blog h1 {
        @include font-size-desktop($fontsz-heading2); // change for dsktp
        padding: 23vh 41vw; // change for dsktop
       
    }
   
    .blog main {
        flex-direction: row-reverse; //change for desktop
        justify-content: space-between;
        align-items: top;
        padding-bottom: 5%;
    }
    
    .wrap-blog { 
        margin-top: -12rem;
           
        
        .wrap-article-comment {
            width: 100%;
            margin: 0; //change for desktop
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left; // change for desktop
    
            article {                
                padding: 1rem;
                .back-border {
                    border: 2px solid #86e0f9;
                    border-right: none;
                    border-top: none;
                }
                .article-img {
                background-color: #86e0f9;
                width: 100%;
                }
                .article-img img {
                    margin-top: -1.5rem;
                    position: relative;
                    top: -1rem;
                    right: -1rem;
                }
                .article-reading {
                    padding: 5%;
                }
                h3 {
                    font-family: $fontfm-barlow;
                    @include font-size-desktop($fontsz-heading3); // change for dsktp
                    color: white;
                    text-transform: uppercase;
                    margin-top: 1rem; // change for desktop
                }
        
                h4, p {
                    font-family: $fontfm-lato;
                    @include font-size-desktop($fontsz-body); // change for dsktp
                    line-height: 1.5rem; // change for desktop
                    color: white;
        
                }
     
                
            }
           
        }
        // comment-box nested here
        // is styled outside
    
    }
    .comment-box {
        h2 {
            @include font-size-desktop($fontsz-heading3); // change for dsktp
    
        }
        .comment {
            padding: 0 0 1rem 0;
            .avatar {
                display: inline-block; // change for desktop
                width: 50%;
                margin: 3.5% 5% 0 0;
            }
            .flex-container {
                .cmt-date,
                .cmt-text {
                    @include font-size-desktop($fontsz-body); // change for dsktp
                    line-height: 1.5rem; // change for desktop
                    
                }
                .cmt-date {
                    border-top: none; // change for desktop
                }
                
            }
           
        }
        form {
            fieldset {
                input[type=text],
                input[type=email],
                textarea {
                    @include font-size-desktop($fontsz-body);
    
    
                    &::placeholder {
                        @include font-size-desktop($fontsz-body); //change for desktop
                    }
                    
                }
    
                button {
                    @include font-size-desktop($fontsz-button);
    
                }  
                
            }
        }
    }
    
    .blog aside {
        margin:  5% 3% 0 9%;
        
        width: 35vw;
        
        .aside-image {
            display: block; // change for desktop
            width: 110%;
            position: relative;
            right: 20%;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        h2:first-of-type {
            padding-top: 15%;
        }
        h2 {
            font-size: 1rem; // change for dsktp
            @include font-size-desktop($fontsz-body); // change for dsktp
    
        }
        p, 
        ul li a {
            @include font-size-desktop($fontsz-body); // change for dsktp
            line-height: 1.5rem;
        }
        ul,
        p {
            padding: 0 1rem 1rem 1rem;
        }
    }
    
    
}

// styling contact page DESKTOP view

@media (min-width: 500px) {
    .contact header {
       
        h1 {
            @include font-size-desktop($fontsz-heading2); // change for dsktp
            padding: 14vh 14vw 28vw 35vw; // change for dsktop
        }
    }
    
    .contact main {
        .cwrapper {
           
            grid-template-rows: none;
            grid-template-columns: 1fr 2fr; // change for destkop
            .addresses {
                width: 70%;
                align-items: left; // change for desktop
                justify-content: flex-start;
                padding-left: 20%;
            }
            .social-network-icons {
                width: 100%;
                
                i {
                    @include font-size-desktop($fontsz-body);
                    padding: 1.5%;
                }
            
            }
            .email-address {
                width: 100%;
                @include font-size-desktop($fontsz-body);
                text-align: left; // change for desktop
            }
            p {
                
                @include font-size-desktop($fontsz-body);
                text-align: left; // change for desktop
                line-height: 1.2rem;
               
            }
        }
        .form-wrapper {
            width: 80%;
            margin: 5%;
            margin-left: 10%;
            // width: 90%;
            margin-top: -9%;
            margin-bottom: 10%;
        }
        form {
            box-shadow: -0.9rem 0.9rem #86e0f9;
            fieldset {
                input[type=text],
                input[type=email],
                textarea {
                    
                    @include font-size-desktop($fontsz-body);
                    
            
                    &::placeholder {
                        @include font-size-desktop($fontsz-body); //change for desktop
                    }
                    
                }
                
                button {
                    @include font-size-desktop($fontsz-button);
                              
                }  
                
            }  
        }            
    }
    
    
}
